<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"
        />
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <title>Create blog</title>
    </head>
    <body>
        <header class="p-3 bg-dark text-white fixed-top">
            <div class="container">
                <div
                    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
                >
                    <ul
                        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
                    >
                        <li>
                            <a
                                href="/auth/home"
                                class="nav-link px-2 text-white"
                                >Event</a
                            >
                        </li>
                        <li>
                            <a href="/blog" class="nav-link px-2 text-white"
                                >Blog</a
                            >
                        </li>
                        <li>
                            <a href="/staff" class="nav-link px-2 text-white"
                                >Staff Manage</a
                            >
                        </li>
                        <li>
                            <a href="/admin" class="nav-link px-2 text-white"
                                >Admin Manage</a
                            >
                        </li>
                    </ul>

                    <div class="text-end">
                        <button
                            type="button"
                            class="btn btn-outline-light me-2"
                        >
                            <a href="/auth/login">Login</a>
                        </button>
                        <button type="button" class="btn btn-warning">
                            <a href="/auth/register">Sign-up</a>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <div class="container mb-5" style="margin-top: 5rem">
            <h2>Create new blog</h2>
            <form method="post" action="/admin/blog/create">
                <div class="row">
                    <div class="col-12 mb-2">
                        <label class="form-label">Name</label>
                        <input class="form-control" name="title" required />
                    </div>
                    <div class="col-12 mb-2">
                        <label class="form-label">Image URL</label>
                        <input class="form-control" name="image" required />
                    </div>
                    <div class="form-group col-12 mb-2">
                        <label class="form-label">Description</label>
                        <textarea
                            hidden
                            class="form-control"
                            id="exampleFormControlTextarea1"
                            rows="3"
                            required
                            name="body"
                        ></textarea>
                    </div>
                    <div class="col-12 mb-2">
                        <button class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
        <%- include("footer"); %>
    </body>
    <script>
        var simplemde = new SimpleMDE({
            element: document.querySelector("textarea"),
            spellChecker: false,
        });
        simplemde.codemirror.on("change", function () {
            document.querySelector("textarea").value = simplemde.value();
        });
    </script>
</html>
