<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Grading</title>
</head>
<style>
	body {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
}

div.elem-group {
  margin: 20px 0;
}

div.elem-group.inlined {
  width: 49%;
  display: inline-block;
  float: left;
  margin-left: 1%;
}

label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 1.25em;
}

input, select, textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: 100%;
  padding: 10px;
}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px dotted #ccc;
}

button {
  height: 50px;
  background: orange;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}
</style>
<body>
	<h1 style="text-align: center;">Evaluating Match</h1>
	<p style="text-align: center;" >Grading based on birds's appearance(%)</small>
	<hr>

	<form action="/grading/grading-participant/<%=eventId%>" method="post">
		<div class="elem-group">
			<label for="room-selection">Select Participants name </label>
			<select id="room-selection" name="room_preference" required>
				<option value="">Choose participants to evaluate</option>
				<%if (participants.length > 0) { %>
					<% for (let i = 0; i < participants.length; i++) { %>
						<option value="participants">participants</option>
					<% } %>
				<% } %>
			</select>
		  </div>
		<div class="elem-group inlined">
		  <label for="adult">Color</label>
		  <input type="number" id="color" name="color" placeholder="/100%" min="1" required>
		</div>
		<div class="elem-group inlined">
		  <label for="child">Pattern of feathers</label>
		  <input type="number" id="feathers" name="feathers" placeholder="/100%" min="1" required>
		</div>
		<div class="elem-group inlined">
			<label for="child">Shape</label>
			<input type="number" id="shape" name="shape" placeholder="/100%" min="1" required>
		  </div>
		  <div class="elem-group inlined">
			<label for="child">Size</label>
			<input type="number" id="size" name="size" placeholder="/100%" min="1" required>
		  </div>
		<hr>
		<button type="submit">Submit</button>
	  </form>
</body>
</html>