<header class="p-3 bg-dark text-white fixed-top">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a href="/" class="nav-link px-2 text-white">Home</a>
                    </li>
                    <li>
                        <a href="/auth/home" class="nav-link px-2 text-white">Event</a>
                    </li>
                    <li>
                        <a href="/blog" class="nav-link px-2 text-white">Blog</a>
                    </li>
                    <!-- <% if (isStaff) { %>
                        <li>
                            <a href="/staff" class="nav-link px-2 text-white">Staff Manage</a>
                        </li>
                        <% } %> -->
                    <% if (isAdmin) { %>
                        <li style="display: block;">
                            <a href="/admin" class="nav-link px-2 text-white">Admin Manage</a>
                        </li>
                        <% } %>

                </ul>

                <div class="text-end">
                 
				<% if (typeof isLogged !="undefined" ) {%>
					<%console.log(isLogged)%>
						<%if (isLogged) { %>
							<button type="button" class="btn btn-outline-light me-2" id="logout-btn">
								<a href="/auth/logout">Logout</a>
							</button>
							<% } else { %>
								<button type="button" class="btn btn-outline-light me-2" id="login-btn" <a
									href="/auth/login" style="color: white;">Login</a>
								</button>
								<% } } %>
									<button type="button" class="btn btn-warning">
										<a href="/auth/register" style="color: white;">Sign-up</a>
									</button>
                </div>
            </div>
        </div>
    </header>