<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.84.0" />
    <title>Carousel Template · Bootstrap v5.0</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/carousel/"
    />

    <link href="carousel.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <div class="nav-item">
                <a class="nav-link" aria-current="page" href="/blog">Blog</a>
              </div>
            </ul>
            <button type="button" class="btn btn-danger" margin-right: 2rem;>
              <a href="./auth/login" style="color: white; text-decoration: none"
                >Login</a
              >
            </button>
            <button type="button" class="btn btn-success">
              <a
                href="./auth/register"
                style="color: white; text-decoration: none"
                >Sign up</a
              >
            </button>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container marketing" style="margin-top: 5rem">
        <div class="row">
          <div class="col-lg-4">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Eopsaltria_australis_-_Mogo_Campground.jpg/640px-Eopsaltria_australis_-_Mogo_Campground.jpg"
              style="height: 120px; width: 120px; border-radius: 50%"
            />
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect>
            >

            <h2>Songbird</h2>
            <p>
              A songbird is a bird belonging to the suborder Passeri of the
              perching birds (Passeriformes). Another name that is sometimes
              seen as the scientific or vernacular name is Oscines, from Latin
              oscen, "songbird". The Passeriformes contains 5,000 or so
              species[1][2] found all over the world, in which the vocal organ
              typically is developed in such a way as to produce a diverse and
              elaborate bird song.
            </p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
          </div>
          <div class="col-lg-4">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/1/1a/About_to_Launch_%2826075320352%29.jpg"
              style="height: 120px; width: 120px; border-radius: 50%"
            />

            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect>

            <h2>Eagle</h2>
            <p>
              Eagle is the common name for many large birds of prey of the
              family Accipitridae. Eagles belong to several groups of genera,
              some of which are closely related. True eagles comprise the genus
              Aquila. Most of the 68 species of eagles are from Eurasia and
              Africa.[1] Outside this area, just 14 species can be found—2 in
              North America, 9 in Central and South America, and 3 in Australia.
            </p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
          </div>
          <div class="col-lg-4">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/A%C3%A7%C4%B1k_mavi_renkte_muhabbet_ku%C5%9Fu.jpg/260px-A%C3%A7%C4%B1k_mavi_renkte_muhabbet_ku%C5%9Fu.jpg"
              style="height: 120px; width: 120px; border-radius: 50%"
            />

            <title>Budgerigar</title>
            <rect width="100%" height="100%" fill="#777"></rect>

            <h2>Budgerigar</h2>
            <p>
              The budgerigar (/ˈbʌdʒərɪˌɡɑːr, -əriː-/ BUJ-ər-ih-gar,
              -⁠ə-ree-;[3] Melopsittacus undulatus), also known as the common
              parakeet, shell parakeet or budgie (/ˈbʌdʒi/ BUJ-ee),[3][4] is a
              small, long-tailed, seed-eating parrot. Budgies are the only
              species in the genus Melopsittacus. Naturally, the species is
              green and yellow with black, scalloped markings on the nape, back,
              and wings.[5] Budgies are bred in captivity with colouring of
              blues, whites, yellows, greys, and even with small crests.[5][6]
              Juveniles and chicks are monomorphic, while adults are told apart
              by their cere colouring, and their behaviour.
            </p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">
              First feature.
              <span class="text-muted">It’ll blow your mind.</span>
            </h2>
            <p class="lead">
              Each year, students in the Friedman Birding Club learn about the
              types of feeders, types of bird food, bird species (23 and
              counting!), and bird behavior including feeding, interactions, and
              nesting. It’s all connected!
            </p>
          </div>
          <div class="col-md-5">
            <img
              src="https://images.squarespace-cdn.com/content/v1/5c1a9e03f407b482a158da87/1547753321901-TD404YB373FXVUDI160Z/BA22-cover.jpg"
              alt=""
            />
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee"></rect>
            <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">
              Oh yeah, it’s that good.
              <span class="text-muted">See for another.</span>
            </h2>
            <p class="lead">
              f your school is in an urban area or far from bird-filled
              ecosystems, there are still plenty of strategies to attract birds
              - but you’re going to have to get your hands dirty. With your
              students, plant a small, potted garden to attract birds. Thistle
              attracts goldfinches, pine siskins and redpolls - and no bird can
              resist a black-oil sunflower feed. No water source? Even one bird
              waterer is enough to keep ‘em coming. Learn more about using
              plants to attract birds in our learning center!
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img
              src="https://images.squarespace-cdn.com/content/v1/5c1a9e03f407b482a158da87/1547310648666-5OSWC8KEN6I4L16WV47Y/BirdingASIA29.jpg"
              style="height: 200px; width: 200px"
              alt=""
            />
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee"></rect>
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">
              And lastly, this one. <span class="text-muted">Checkmate.</span>
            </h2>
            <p class="lead">
              We've done the work for you! Cornell Lab of Ornithology and Perky
              Pet offer the Habitat Connections curriculum – a wealth of
              resources and ideas for teaching about birds. Mrs. Curley’s
              science students have learned all about habitats, ways to make a
              schoolyard habitat-friendly for birds, and will be brainstorming
              ideas for plants that can be added to help nectar-eating and
              seed-eating birds next year.
            </p>
          </div>
          <div class="col-md-5">
            <img
              src="https://www.perkypet.com/media/Articles/Perky-Pet/2566385_orig-300x225.jpg"
              alt=""
            />
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee"></rect>
          </div>
        </div>

        <hr class="featurette-divider" />
      </div>

      <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>
          © 2017–2021 Company, Inc. · <a href="#">Privacy</a> ·
          <a href="#">Terms</a>
        </p>
      </footer>
    </main>

    <script
      src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
