<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <title>Register</title>
        <style>
            .view img {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <header class="p-3 bg-dark text-white fixed-top">
            <div class="container">
                <div
                    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
                >
                    <ul
                        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
                    >
                        <li>
                            <a
                                href="/auth/home"
                                class="nav-link px-2 text-white"
                                >Event</a
                            >
                        </li>
                        <li>
                            <a href="/blog" class="nav-link px-2 text-white"
                                >Blog</a
                            >
                        </li>
                        <li>
                            <a href="/staff" class="nav-link px-2 text-white"
                                >Staff Manage</a
                            >
                        </li>
                        <li>
                            <a href="/admin" class="nav-link px-2 text-white"
                                >Admin Manage</a
                            >
                        </li>
                    </ul>

                    <div class="text-end">
                        <button
                            type="button"
                            class="btn btn-outline-light me-2"
                        >
                            <a href="/auth/login">Login</a>
                        </button>
                        <button type="button" class="btn btn-warning">
                            <a href="/auth/register">Sign-up</a>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <div class="container" style="margin-top: 5rem">
            <h2><%- blog.title %></h2>
            <div class="view"><%- blog.body %></div>
        </div>

        <%- include("footer"); %>
    </body>
</html>
